.btn-soft-info {
    color: $buttonColor;
    background: $buttonBackground;
    border-color: transparent;
  }
  
.add-margin {
  margin-bottom: 30px;
}

.block-info {
  word-break: break-all;
}

.card-info
{
  max-width: 90vw;
}