$defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$buttonColor: #3498db;
$buttonBackground: rgba(52,152,219,.1);
$footerColor: rgb(240,240,240);
